/* 
Project Name: Flag Design Quiz
Client: FEWD29 GA Final Project
Author: Kio McLoughlin
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
     outline: 1px dotted red;

}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */


/******************************************
/* LAYOUT                   
/*******************************************/

/*BASELINE BREAKPOINT FOR SMALLEST VIEWPORT*/
@media screen and (min-width: 5em) {
     body {
          min-height: 100vh;
     }

     .site-container {
          max-width: 100%;
          margin: 0 auto;
     }

     .site-header {
          position: fixed;
          width: 100%;
          z-index: 11;
     }

     h1 {
          font-family: 'Playfair Display';
          font-style: italic;
          font-weight: 400;
          font-size: 1.5em;
     }

     h2 {
          font-family: 'Playfair Display';
          font-style: italic;
          font-weight: 400;
          font-size: 1.8em;
          margin: 0;
     }

     p {
          font-family: 'lato';
          font-weight: 400;
          font-size: .8em;
     }
     

     a {
          text-decoration: none;
     } 


     /*BEGIN TOP NAV STYLING*/
     .site-nav {
          /*padding-left: 30%;*/
     }

     .site-nav ul {
          list-style: none;
     }

     .site-nav li {
          display:inline-block;
     }
     /*END TOP NAV STYLING*/


     /*BEGIN SITE CONTENT STYLING*/
     .site-content {

     }
     /*END SITE CONTENT STYLING*/


     /*BEGIN SIDEBAR NAV STYLING*/
     .sidebar-nav {
          display:none;
          position: fixed;
          bottom: 0;
          left: 0;
          top: 0;
          width: 6em;
          z-index: 12;
          background: rgba(0, 0, 0, 0.15);
     }

     .sidebar-controls {
          position: relative;
          top: 25vh;
     }

     .sidebar-nav li {
          list-style: none;
     }

     .active {
          width: 2.5vw;
          height: 2.5vh;
          border-radius: 50%;
          background: blue;
          margin: 1em 0;
     }

     .arrow {
          width: 2.5vw;
          height: 2.5vh;
          border-radius: 50%;
          background: red;
          margin: 1em 0;
     }

    /* .sidebar-nav .arrow {
          position: absolute;
          width: 3em;
          height: 1.5em;
          -webkit-transform: skew(15deg);
          -moz-transform: skew(15deg);
          -o-transform: skew(15deg);
          right: -2em;
          background: rgba(0, 0, 0, 0.15);
     }*/
     /*END SIDEBAR NAV STYLING*/



     /*BEGIN SCROLLMAGIC CLASS TOGGLES - THIS DEFINES CLASS INJECTIONS AT CERTAIN TRIGGER POINTS IN THE PAGE*/
     /*.active {
          color: blue;
     }*/
     /*END SCROLLMAGIC CLASS TOGGLES STYLING*/


     /*BEGIN SCENE STORY PANELS STYLING FOR MAIN PAGE*/
     .scene {
          /*padding: 2% 5%;*/
          background-color: rgba(160, 202, 219, 1.0);
          height: 100vh;
     }

     .card {
          min-height: 90vh;
          max-height: 90vh;
          max-width: 100vw;
          min-width: 80vw;
          padding: 25vh 5vw;
          background-color: rgba(255, 255, 255, 1.0);
          border: solid, .2em, grey;
          -webkit-box-shadow: 0em .5em .45em 0em rgba(0,0,0,0.75);
     }

     .cardtext {
     /*drop caps in here*/
     }

     

     /*.panel1 {
          background-color: rgba(160, 202, 219, 1.0);
          height: 100%;
          margin: 5% 15%;
     }

       .card {
          margin: 5% 20%;
          background-color: rgba(255, 255, 255, 1.0);
     }

      .panel2 {
          background-color: rgba(121, 187, 181, 1.0);
     }

      .panel3 {
          background-color: yellow;
     }

      .panel4 {
          background-color: lightblue;
     }

      .panel5 {
          background-color: pink;
     }

      .panel6 {
          background-color: yellow;
     }

      .panel7 {
          background-color: lightblue;
     }

      .panel8 {
          background-color: pink;
     }

      .panel9 {
          background-color: yellow;
     }

     /*END SCENE STORY PANELS STYLING FOR MAIN PAGE*/


     /*BEGIN STYLING AROUND FLAG AND QUIZ DISPLAY SECTION*/
     .quizcard {
          min-height: 100vh;
          max-width: 100vw;
          min-width: 80vw;
          padding: 10vh 5vw;
          background-color: rgba(255, 255, 255, 1.0);
          -webkit-box-shadow: 0em .5em .45em 0em rgba(0,0,0,0.75);
     }


     .quiztitle {
          margin: 0;
          text-align: center;
          
     }

     .flagdisplay {
          margin: 1em auto;
          max-width: 90vw;
          max-height:35vh;
          -o-object-fit: scale-down;
          object-fit: scale-down;
          /*-webkit-box-shadow: 0em .5em 2em 0em rgba(0,0,0,0.75);*/
     }

     /*do not change this - flag is now displaying correctly*/
     img {
          display: block;
          /*-webkit-animation-duration:;*/
          /*webkit-animation-delay:.5s;*/
          /*-webkit-animation-iteration-count: infinite;*/
     }

     .principles_hint {
          max-width: 90vw; 
     }

     .answer_explanation {
          
     } 

     .feedback {

     } 


     .quiz_controls {
          position: absolute;
          bottom: 0;
          width: 90vw;
     }

     .control{
          display: block;
          float: left;
          margin: .5em .5em;
          min-height: 2em;
          min-width: 2em;
          font-family: 'lato';
          font-weight: 400;
          font-size: 1.2em;
     }

    /* .control2{
          float: left;
          max-height: 2em;
          width: 90vw;
          margin: .5em 0;
          font-family: 'lato';
          font-weight: 400;
          font-size: 1.2em;
     }*/

     .control:hover {

     }

     /*END FLAG AND QUIZ DISPLAY STYLING*/



     /*BEGIN SITE FOOTER AND NAV STYLING*/
     .site-footer {
          display: none;
          position: fixed;
          background-color: lightblue;
          padding-left: 20%;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          z-index: 10;
     }

     .footer-nav {
          display: inline-block;
     }

     .footer-nav ul {
          list-style: none;
     }

     .footer-nav li {
          display:inline-block;
     }
     /*END SITE FOOTER AND NAV STYLING*/
}
/*END BASELINE VIEWPORT STYLING*/

/*BREAKPOINT 2*/
@media screen and (min-width: 10em) {
     .site-container {
          background-color: grey;
     }
}
/*END BREAKPOINT 2*/



/*BREAKPOINT 3*/
@media screen and (min-width: 20em) {
     .site-container {
          background-color: yellow;
     }
}
/*END BREAKPOINT 3*/



/*BREAKPOINT 4*/
@media screen and (min-width: 30em) {
     .site-container {
          background-color: lightblue;
     }
}
/*END BREAKPOINT 4*/



/*BREAKPOINT 5*/
@media screen and (min-width: 40em) {
     .site-container {
          background-color: lightblue;
     }
}
/*END BREAKPOINT 5*/












/******************************NAVIGATION EXPERIMENTING*/
/*Need to change this to get the nav operational - it'll need to linked to the media queries - as it's the screensize at the mo that's making it w*/
/*Navigation tomfoolery - need to refactor this, but it's appearing*/
/*
.nav-icon,
.nav-icon:before,
.nav-icon:after {
     content:"";
     position:absolute;
     right:1em;
     width:2em;
     height:2em;
     border-top:0.25em solid #fff45a;
}

change this to EMS
@media screen and (max-width: 640px) {
     .nav-icon { display:block; }
}

.nav-icon:before {
     top:0.25em;
     right:0;
}
.nav-icon:after {
     top:0.75em;
     right:0;
}*/
/******************************NAVIGATION EXPERIMENTING*/







/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




