/* 
Project Name: Flag Design Quiz
Client: FEWD29 GA Final Project
Author: Kio McLoughlin
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
     outline: 1px dotted red;

}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */


/******************************************
/* LAYOUT                   
/*******************************************/

/*BASELINE BREAKPOINT FOR SMALLEST VIEWPORT*/
@media screen and (min-width: 5em) {
     .site-container {
          background-color: pink;
          max-width: 100%;
          margin: 0 auto;
          padding-left: 20%;
     }

     .site-header {
          position: fixed;
          width: 100%;
          background-color: pink;
          z-index: 11;
     }

     h1 {
          font-family: 'Playfair Display';
          font-style: italic;
          font-weight: 400;
          font-size: 5em;
     }

     p {
          font-family: 'lato';
     }
     

     a {
          text-decoration: none;
     }

     .site-nav {
          padding-left: 30%;
     }

     .site-nav ul {
          list-style: none;
     }

     .site-nav li {
          display:inline-block;
     }
     
     .site-content {

     }

     .sidebar-nav {
          float: left;
          position: fixed;
          padding-top: 20%;
          padding-bottom: auto;
          bottom: 0;
          left: 0;
          top: 0;
          width: 6em;
          z-index: 12;
          background: rgba(0, 0, 0, 0.15);
     }

     .sidebar-nav li {
          list-style: none;
     }

     .sidebar-nav .arrow {
          position: absolute;
          width: 3em;
          height: 1.5em;
          -webkit-transform: skew(15deg);
          -moz-transform: skew(15deg);
          -o-transform: skew(15deg);
          right: -2em;
          background: rgba(0, 0, 0, 0.15);
     }







     .scroll-container {
          
          
     }

     .panel {
          display: block;
          height: 100%;
     }

     .paneltext {
          margin-right: 25%;
     }

     .object-fit_scale-down {
          -o-object-fit: scale-down;
          object-fit: scale-down;
     }

     .flagdisplay {
          display: block;
          max-width: 100%;
          max-height:35em;
          margin: 2em 0em 2em 0em;
     }    

     .quiz_controls {
          margin-bottom: 30em;
     }

     .site-footer {
          position: fixed;
          background-color: pink;
          padding-left: 20%;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          z-index: 10;
     }

     .footer-nav {
          display: inline-block;
     }

     .footer-nav ul {
          list-style: none;
     }

     .footer-nav li {
          display:inline-block;
     }

}
/*END BASELINE VIEWPORT STYLING*/

/*BREAKPOINT 2*/
@media screen and (min-width: 10em) {
     .site-container {
          background-color: grey;
     }
}
/*END BREAKPOINT 2*/



/*BREAKPOINT 3*/
@media screen and (min-width: 20em) {
     .site-container {
          background-color: yellow;
     }
}
/*END BREAKPOINT 3*/



/*BREAKPOINT 4*/
@media screen and (min-width: 30em) {
     .site-container {
          background-color: lightblue;
     }
}
/*END BREAKPOINT 4*/



/*BREAKPOINT 5*/
@media screen and (min-width: 40em) {
     .site-container {
          background-color: pink;
     }
}
/*END BREAKPOINT 5*/












/******************************NAVIGATION EXPERIMENTING*/
/*Need to change this to get the nav operational - it'll need to linked to the media queries - as it's the screensize at the mo that's making it w*/
/*Navigation tomfoolery - need to refactor this, but it's appearing*/
/*
.nav-icon,
.nav-icon:before,
.nav-icon:after {
     content:"";
     position:absolute;
     right:1em;
     width:2em;
     height:2em;
     border-top:0.25em solid #fff45a;
}

change this to EMS
@media screen and (max-width: 640px) {
     .nav-icon { display:block; }
}

.nav-icon:before {
     top:0.25em;
     right:0;
}
.nav-icon:after {
     top:0.75em;
     right:0;
}*/
/******************************NAVIGATION EXPERIMENTING*/







/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




